* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
	line-height: 1.4em;
  font-weight: 300;
}

:focus {
	outline: 0;
}

.container {
  max-width: 700px;
  min-width: 270px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  padding: 50px 0;
  text-align: center;
}

.header__title {
  font-size: 60px;
  letter-spacing: 0.1em;
  -webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
  color: darkgrey;
  font-family: monospace;
  font-weight: 200;
}

.note {
  min-height: 400px;
  height: 60vh;
  overflow-y: scroll;
  padding: 0 8px;
  border: 2px solid lightgrey;
  border-radius: 12px;
}

.note__line {
  display: block;
  width: 100%;
  letter-spacing: 0.03em;
  word-spacing: 0.04em;
}

.note__paragraph {
  color: grey;
  line-height: 1.35;
  margin: 10px 0;
}

.note__header1 {
  color: grey;
  font-size: 32px;
  line-height: 1.25;
  margin: 15px 0;
}

.note__header2 {
  color: grey;
  font-size: 28px;
  line-height: 1.25;
  margin: 15px 0;
}

.note__header3 {
  color: grey;
  font-size: 24px;
  line-height: 1.25;
  margin: 15px 0;
}

.note__header4 {
  color: grey;
  font-size: 22px;
  line-height: 1.25;
  margin: 15px 0;
}

.note__header5 {
  color: grey;
  font-size: 20px;
  line-height: 1.25;
  margin: 15px 0;
}

.note__header6 {
  color: grey;
  font-size: 18px;
  line-height: 1.25;
  margin: 15px 0;
}

.note__unorderedlist {
  color: grey;
  padding-left: 25px;
  margin: 8px 0;
}

.note__orderedlist {
  color: grey;
  padding-left: 25px;
  margin: 8px 0;
}

.note__blockquote {
  color: grey;
  border-left: 6px solid lightgrey;
  padding-left: 15px;
  line-height: 1.4;
  margin: 8px 0;
}

.note__text {
  font-weight: normal;
}

.note__bold {
  font-weight: bold;
}

.note__italic {
  font-style: italic;
}

.note__underline {
  text-decoration: underline;
}

.note__code {
  border: 1px solid grey;
}

.note__link {
  background-color: lightgrey;
}

.note__strikethrough {
  text-decoration: line-through;
}

.footer {
  color: grey;
  font-size: 16px;
  letter-spacing: 0.02em;
  margin: 80px;
  text-align: center;
}

.footer a:visited {
  color: darkblue;
}
